img{border:none;}
a { text-decoration:none;}
a:visited { color:#a7a7a5;} 
.logo>img{
	display: inline-block;
	height: 68px;
	width: 175px;
	float: left;
}
.resgister{
	margin-right: 40px;
}
.resgister>a{
	margin-right: 10px;
	margin-top: 25px;
	float: right;
	color: #cc0001;
}
/*导航*/
.navTop{background-color: #cc0001;}
.navCon { width:1200px; margin:0 auto !important; height:43px;}
.navCon ul {padding-left:15px;font-size:16px;}
.clear a{
	color: #fff;
	display: inline-block;
	padding-bottom: 10px;
	padding-top: 10px;
	padding-right: 25px;
	padding-left: 25px;
			}
.clear a:hover{font-weight: bolder;
			text-decoration:none;
			background: rgb(180,20,20);}
.clear>li{display: inline-block;}
.carousel{
	margin-top: 30px;
	width: 720px;
	height: 405px;
	margin-left: 35px;
	display: inline-block;
	background:#fff;
}
#carousel-example-generic{
	margin-top: 0;
	float: left;
}
.carousel-caption>a{
	font-size: 24px;
	color: #fff;
	text-align: center;
}
.rightList{
	margin-top: 30px;
	float: left;
}
.newsRightBlock{
	float: right;
	margin-right: 30px;
	width: 450px;
	height: 400px;
}
.rightList>li{
	padding-bottom: 18px;
	list-style-type: none;
}
.rightList a{
	font-size: 20px;
	font-weight: bold;
	text-decoration: none;
	color: #595855;
}
.rightList a:hover{
	text-decoration:underline;
	color: #cd0001;
}
.wrp{
	width: 1300px;
}
/*中间板块*/
.middleBlock{
	margin-top: 25px;
	width: 1300px;
	height: 560px;
}
.centerLeftBlock,.centerMiddleBlock,.centerRightBlock{
	float: left;
}
.centerLeftBlock{
	width: 354px;
	height: 520px;
	margin-left: 70px;
	border-right: 1px solid darkgray;
}
.centerMiddleBlock{
	margin-left: 20px;
}

.centerRightBlock{
	margin-left: 40px;
}
.blockTitle{
	color: #cd0001;
	font-size: 22px;
}
.blockTitle>span{
	padding-bottom: 10px;
	border-bottom: 2px solid #af825e;
}
.centerLeft,.centerMiddle{
	border-bottom: 1px solid darkgrey;
}
.centerLeft,.centerLeftUnder{
	width: 320px;
	height: 275px;
	margin-bottom: 20px;
}
.centerMiddle{
	width: 354px;
	height: 315px;
	margin-bottom: 20px;
}
.centerMiddleUnder{
	width: 354px;
	height: 165px;
	margin-bottom: 20px;
}

.centerLeft a,.centerLeftUnder a,.centerMiddle a,.centerMiddleUnder a,.centerRight a{
	text-decoration: none;
	font-size: 16px;
	color: #585856;
}
.centerLeft ul,.centerLeftUnder ul,.centerMiddle ul,.centerMiddleUnder ul,.centerRight ul{
	color: red;
	margin-top: 20px;
}
.centerLeft li,.centerLeftUnder li,.centerMiddle li,.centerMiddleUnder li,.centerRight li{
	padding-top: 10px;
	padding-bottom: 10px;
	list-style-type: disc;
}
.centerLeft a:hover,.centerLeftUnder a:hover,.centerMiddle a:hover,.centerMiddleUnder a:hover,.centerRight a:hover{
	text-decoration: underline;
	color: #cd0001;
}
.centerRight{
	width: 420px;
	height: 520px;
}
.videoBlock{
	float: left;
	width: 168px;
	height: 130px;
	margin-right: 5px;
	margin-top: 15px;
	margin-bottom: 30px;
}
.videoBlock img{
	width: 168px;
	height: 112px;
	border-radius: 2px;
	margin-bottom: 8px;
}
.videoBlock img:hover{
	width: 170px;
	height: 115px;
}
/*下部板块*/
.underBlock{
	margin: 0 auto;
	width: 1300px;
}
.underBlockTitle{
	color: #cd0001;
	font-size: 34px;
	margin-left: 70px;
}
.underBlockTitle>span{
	padding-bottom: 10px;
	border-bottom: 2px solid #af825e;
}
.underBlockMain{
	margin-left: 55px;
	margin-top: 20px;
}
.underBlockImg{
	float: left;
	width: 340px;
	height: 250px;
}
.underBlockImg img{
	width: 340px;
	height: 227px;
	border-radius: 2px;
	margin-bottom: 10px;
	overflow: hidden;
}
.underBlockImg img:hover{
	width: 345px;
	height: 230px;
}
.underBlockImg a:nth-child(2){
	margin-left: 5px;
	font-size: 16px;
	color: #585856;
}
.underBlockImg a:nth-child(2):hover{
	text-decoration: underline;
	color: #cd0001;
}
.underVideos{
	float: left;
	width: 350px;
	height: 160px;
}
.underBlockVideo,.leftBlockVideo{
	float: left;
	width: 168px;
	height: 150px;
	margin-right: 5px;
	margin-top: 20px;
	margin-bottom: 5px;
}
.underLeftBlock{
	width: 340px;
	height: 460px;
	float: left;
}
.underMiddleBlock{
	width: 466px;
	height: 460px;
	float: left;
	margin-left: 10px;
}
.underRightBlock{
	width: 340px;
	height: 460px;
	float: left;
}
.underVideos{
	height: 220px;
}
.underBlockVideo img,.leftBlockVideo img{
	width: 168px;
	height: 112px;
	border-radius: 2px;
	margin-bottom: 8px;
}
.underBlockVideo img:hover,.leftBlockVideo img:hover{
	width: 170px;
	height: 115px;
}
.underPage{
	width: 450px;
	float: left;
	margin-left: 30px;
}
#underPageTwo{
	margin-top: 15px;
}
.title{
	height: 40px;
	font-size: 20px;
	color: #585954;
	font-weight: bold;
	line-height: 40px;
}
.underPage>ul,.rightUnder>ul{
	list-style-type: disc;
	color: #cd0001;
}
.underPage li,.rightUnder li{
	height: 36px;
	line-height: 36px;
}
.underPage a,.rightUnder a,.underBlockVideo>a:nth-child(2),.leftBlockVideo>a:nth-child(2){
	color: #585954;
	font-size: 16px;
	margin-left: 5px;
}
.underPage a:hover,.rightUnder a:hover,.underBlockVideo>a:nth-child(2):hover,.leftBlockVideo>a:nth-child(2):hover{
	color: #CD0001;
}
.leftVideo{
	width: 350px;
	height: 160px;
	margin-top: 5px;
}
.rightUnder{
	margin-top: 25px;
}
.fLink{
	margin-top: 15px;
	height: 40px;
	font-size: 12px;
	text-align: center;
}
.flinkMain{
	width: 1000px;
	margin: 0 auto;
	height: 40px;
	line-height: 40px;
}
.fLink a{
	color: #5e5e5e;
}
.copyMain{
	display: block;
	margin: 0 auto;
	text-align: center;
	font-size: 12px;
	color: #5e5e5e;
	height: 30px;
	line-height: 30px;
}
#footer{
	margin-top: 10px;
	border-top: 2px solid #CD0001;
	height: 100px;
}
