<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 门店表的映射文件 namespace值为对应接口的全路径 -->
<mapper namespace="com.tedu.dao.UserMapper">
	<!-- 1.查询所有门店信息，id值为对应接口中方法的名字 resultType指定将查询的结果封装到哪个pojo对象中 -->
	<select id="findAll" resultType="com.tedu.pojo.User">
		select * from user_info
	</select>
	<select id="findByUserName" resultType="com.tedu.pojo.User">
		select user_id userId, user_name username,phone,password,
		user_lock userLock,user_freeze userFreeze,lastLogin
		from user_info where phone=#{username} or user_name=#{username}
	</select>
	<update id="updateTime">
	update user_info set lastLogin=now() where phone=#{username} or user_name=#{username};
	</update>
	
	<select id="findByPhone" resultType="com.tedu.pojo.User">
	select phone from user_info where phone = #{phone};
	
	</select>
	<select id="findByUser" resultType="com.tedu.pojo.User">
	select user_name username from user_info where user_name=#{username};
	
	</select>
	
    <update id="addUser">
	insert into user_info 
	(user_name,phone,password,lastLogin)
	values(#{username},#{phone},#{password},now())
	</update>
<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++  -->

	<update id="updateByPhone">
	update user_info set password=#{password} where phone=#{phone};
	
	</update>
	
</mapper>
